<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iitg.sciencereferences"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.iitg.sciencereferences.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.iitg.sciencereferences.Physics"
            android:label="@string/title_activity_physics"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.iitg.sciencereferences.Chemistry"
            android:label="@string/title_activity_chemistry"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.iitg.sciencereferences.Phy_Chem"
            android:label="@string/title_activity_phy__chem"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.iitg.sciencereferences.List"
            android:label="@string/title_activity_list"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.iitg.sciencereferences.About"
            android:label="@string/title_activity_about"
            android:theme="@android:style/Theme.Dialog" >
            <intent-filter>
                <action android:name="com.iitg.sciencereferences.ABOUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.iitg.sciencereferences.Video"
            android:label="@string/title_activity_video"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.iitg.sciencereferences.Animation"
            android:label="@string/title_activity_animation"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.iitg.sciencereferences.More"
            android:label="@string/title_activity_more"
            android:theme="@android:style/Theme.Light.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name="com.iitg.sciencereferences.MediaPlayer"
            android:label="@string/title_activity_media_player" >
        </activity>
    </application>

</manifest>